/* Denna fil skall innehålla din CSS kod */
body{
    margin:0;
}

#wrapper{

    width: 100%;
    height: 4000px;
    margin: auto;
    display: grid;
    grid-template-areas: 'hd'
    'main'
    's1'
    'ft';


}
header{
    grid-area: hd;
    background-color:midnightblue;
    color: white;
    border-bottom: 5px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h1{
    text-align:center;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

nav ul li a{
    color:white;
    text-decoration: none;
}

#s1{
  display: flex;
    background-color:midnightblue ;
   height: 500px;
    border: 2px #000;

}

footer{
    display: flex;
    grid-area: ft;
    background-color: #f27373;
    height: fit-content;
    margin-top:5000px ;
   
}

@media screen and (max-width:600px) {
    body { 
        background-color: black
    ;
    }

    header{
        position:  relative ;
        display: block;
    }

    #hamborgir{
        /* border: 1px solid #000; */
        height: 1.5rem;
        width: 2.2rem ;
        position: absolute;
        top: 0.7rem;
        right:0.7rem;
      
        
    }    

    #hamborgir div {
        border: 2px solid #000;
        margin: 0.4em;
        border-color: white;
        justify-content:center;
    }

    nav{
        justify-content: center;
        max-height: 0;
        overflow:hidden;
        background-color: white;
    }

    nav.active{
        max-height:1000px;
        transition: max-height;
    }

    nav ul{
    display:block;
    padding:0;
    }

    nav ul li {
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        height: 100%;
        color: midnightblue;
    }
    
    nav ul li:hover {
        background-color: midnightblue;
    }



}

   
